<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeLab"
        tools:targetApi="31">
        <activity
            android:name=".view.UserActivity"
            android:exported="false"
           />
        <activity
            android:name=".view.NurseActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminActivity"
            android:exported="false" />

        <activity
            android:name=".view.SplashAnimated"
            android:exported="true"
            android:theme="@style/Theme.HomeLab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="eGkVdzcTK0y9SrVlnFCw" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="WTzlARe9LPSHMC_5mWo2Ag" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="3Uj07QiCGpFoIdwJGXAL-KjsCaPsY1q7UfFiFRFQ54s8iSKzkv46US601lgIwKLem3LwiHv4lCj8wSr0hyU4Yg" />
        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="lRtmHSPsDp5NCpNOhuYWVg" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".network.LocationService"
            android:foregroundServiceType="location"
            android:enabled="true"/>

       <!-- <receiver
            android:name=".network.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

    </application>

</manifest>